body
{
    background-color:rgb(90, 88, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.loading
{
    font-size: larger;
    font-weight: bold;
    font-style: oblique;
}
.animation
{
position: absolute;
top: 35%;
width: 35px;
height: 35px;
display: inline-block;
border: 5px solid rgb(90, 88, 88);
border-left-color:orange;
border-top-color: orange;
border-radius: 50%;
animation: rotate 700ms infinite linear;
}
@keyframes rotate
{to
     {transform: rotate(1turn)}
}


